RewriteEngine On

# Amennyiben a domain az 'guitarapi.eu', akkor továbbirányít a /client könyvtárra
RewriteCond %{HTTP_HOST} ^(www\.)?guitarapi\.eu$ [NC]
RewriteRule ^$ /client/ [L,R=301]

<IfModule mod_headers.c>
    # Az Access-Control-Allow-Origin fejléc beállítása HTTPS-re
    Header set Access-Control-Allow-Origin "https://guitarapi.eu"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>
